<div class="container marged">
	<div class="row text-center">
		<img src="img/tgf/icon_circle.png" style="width:100px;">
		<h1>Lorem ipsum</h1>
	</div>
	<div class="row">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet purus a aliquam fermentum. Nam in augue non metus euismod dignissim vitae quis elit. Sed aliquam nisl et placerat pharetra. Nullam ultricies purus vitae nisi pellentesque posuere. Nullam eget dui ornare mauris molestie mattis quis at nisl.</p>
	</div>
</div>