<div class="row small-12 large-6 large-offset-3" id="file-container">
  <div class="small-12 large-4 columns"><img src="http://lorempixel.com/500/500"></div>
  <div class="small-12 large-6 columns">
  	<h1>Lorem ipsum</h1>
  	<h2>Ipsem Danlante</h2>
  </div>
  <div class="small-12 large-2 columns"><button>Download</button></div>

  <table class="small-12 large-12 columns">
  	<tr>
  		<td>Lorem</td>
  		<td> ipsum</td>
  	</tr>
  	<tr>
  		<td>Lorem</td>
  		<td> ipsum</td>
  	</tr>
  	<tr>
  		<td>Lorem</td>
  		<td> ipsum</td>
  	</tr>
  	<tr>
  		<td>Lorem</td>
  		<td> ipsum</td>
  	</tr>
  </table>
</div>