<div class="row small-12 large-6 large-offset-3" id="file-container">
  <div class="small-12 large-4 columns"><img ng-src="{{exportFile.cover}}"></div>
  <div class="small-12 large-6 columns">
  	<h1>{{exportFile.title}}</h1>
  	<h2>{{exportFile.artist}}</h2>
  </div>
  <div class="small-12 large-2 columns"><div class="button" ng-class="{'disabled':!canDownload}">Download</div></div>

  <table class="small-12 large-12 columns">
    <tr>
      <td>Filename</td>
      <td>
        <input type="text" ng-model="baseStr" ng-change="genPattern()">
      </td>
    </tr>
    <tr>
      <td>Pattern</td>
      <td>
        <input type="text" ng-model="userPattern" ng-change="genPattern()">
      </td>
    </tr>
  	<tr>
  		<td>Title</td>
  		<td>
  			<input type="text" ng-model="exportFile.title">
  		</td>
  	</tr>
  	<tr>
  		<td>Artist</td>
  		<td>
  			<input type="text" ng-model="exportFile.artist">
  		</td>
  	</tr>
    <tr>
      <td>Gender</td>
      <td><input type="text" ng-model="exportFile.gender"></td>
    </tr>
  	<tr>
  		<td>TrackNum</td>
  		<td><input type="text" ng-model="exportFile.track"></td>
  	</tr>
  	<tr>
  		<td>Lorem</td>
  		<td> ipsum</td>
  	</tr>
  </table>
</div>