<div class="container-fluid" id="file-container" ng-hide="processing">
  <div id="file-heading" class="row marged">
    <!--<img ng-src="{{exportFile.image}}" id="file-bg" class="img-responsive">-->
    <div class="col-md-3 col-md-offset-3">
      <img ng-src="{{exportFile.image}}" id="file-image" class="img-responsive"></div>
    <div class="col-md-3">
      <h1>{{fileHeadingLabel.h1}}</h1>
      <h2>{{fileHeadingLabel.h2}}</h2>
    </div>
  </div>

  <div class="row col-md-6 col-md-offset-3 marged" id="file-body-container">

    <div class="col-md-12" id="file-tags" ng-class="{'hidden':!canEditTags}">
      <div class="row">
        <div class="col-md-6">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Use pattern
            </label>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Filename</div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="baseStr" ng-change="genPattern()">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">Pattern</div>
        <div class="col-md-6" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
          <input type="text" class="form-control" ng-model="userPattern" ng-change="genPattern()">
        </div>
      </div>
    	<div class="row">
    		<div class="col-md-6">Title</div>
    		<div class="col-md-6">
    			<input type="text" class="form-control" ng-model="exportFile.title">
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-6">Artist</div>
    		<div class="col-md-6">
    			<input type="text" class="form-control" ng-model="exportFile.artist">
    		</div>
    	</div>
      <div class="row">
        <div class="col-md-6">Gender</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="exportFile.gender"></div>
      </div>
    	<div class="row">
    		<div class="col-md-6">TrackNum</div>
    		<div class="col-md-6"><input type="text" class="form-control" ng-model="exportFile.track"></div>
    	</div>
    	<div class="row">
    		<div class="col-md-6">Lorem</div>
    		<div class="col-md-6"> ipsum</div>
    	</div>
    </div>
    <div class="row col-md-6 col-md-offset-3 marged">
      <button type="button" id="following" class="btn btn-primary btn-lg col-xs-12" href="#tab3" data-toggle="tab" ng-click="showConfirmModal()">Download <i class="mdi mdi-download" aria-hidden="true"></i>
      </button>
    </div>

  </div>
</div>


<div class="modal" id="confirm-dl-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <form class="modal-dialog" role="document" ng-submit="checkCaptchat()">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">One final effort</h4>
      </div>
      <div class="modal-body">
        <form>
          <div id="solve-media-container"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg"><i class="mdi mdi-download"></i> Download</button>
      </div>
    </div>
  </form>
</div>

<div ng-include="'views/processing.html'" ng-show="processing"></div>