body
{
	font-family: Roboto;
	background-color: #1B2838;
	color:#E4F1FE;
}

*
{
	scrollbar-face-color: #3498DB;
  	scrollbar-track-color: #1B2838;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #3498DB;
  border-radius:3px;
}

::-webkit-scrollbar-track {
  background: #1B2838;
}

p,h1,h2,h3
{
	color:#E4F1FE;
}


.marged
{
	margin-top:50px;
}

.btn.btn-primary
{
	transition-duration:0.3s;
	background-color: #1ABC9C;
	border:1px #1ABC9C solid;
	color: #ffffff;
}

.btn.btn-primary:hover
{
	background-color: #3498DB;
	border:1px #3498DB solid;
	color: #DEE0E2;
}

.btn.btn-default
{
	background-color: #3498DB;
	border:1px #3498DB solid;
	color: #DEE0E2;
}

.btn.btn-default:active
{
	background-color: #3498DB;
	border:1px #3498DB solid;
	color: #DEE0E2;
}

.btn.btn-link
{
	text-decoration: none;
	color: #8F98A0!important;
	background-color: transparent;
	border-bottom: 3px transparent solid;
}

.btn.btn-link:hover
{
	background-color: transparent;
	border-bottom: 3px #1ABC9C solid;
	text-decoration: none;
}

.btn.btn-link.active
{
	background-color: transparent;
	border-bottom: 3px #1ABC9C solid;
	text-decoration: none;
}

.container-fluid
{
	color: #ffffff;
}

.container-fluid.light
{
	padding-top: 30px;
	background-color: #F6F6F6;
	color: #2C3E50;
	padding-bottom: 30px;
}

.jumbotron
{
	background-color: transparent;
	margin-bottom:0;
}

.navbar
{
	margin-bottom:0;
}

.navbar-inverse
{
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand
{
	height: 30px;
	margin-top: 8px;
	padding: 0;
}

.modal
{
	color: #34495E;
}

.form-control
{
	background-color: transparent;
	border:2px #8F98A0 solid;
	color: #8F98A0;
}

.form-control.marged
{
	margin: 5px;
}

.form-control:focus
{
	border-color: #1ABC9C;
	box-shadow: none;
}

#header-logo
{
	height: 100%;
}

.movie-banner,.tv-banner
{
	position: relative;
	padding-top:0px;
	height: 250px;
	overflow: hidden;
}

.movie-banner img,.tv-banner img
{
	width: 100%;
	min-height: 100%;
	-webkit-filter: blur(8px);
}

.movie-banner .banner-light,.tv-banner .banner-light
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:linear-gradient(60deg, rgba(0,62,64,0.7), rgba(10,45,106,0.7));
}

.movie-banner .banner-content,.tv-banner .banner-content
{
	position: absolute;
	bottom:0;
	margin: 10px;
	z-index: 2;
}

.movie-banner .banner-content h1,.tv-banner .banner-content h1
{
	display: inline-block;
	color: #ffffff;
}

.banner-poster
{
	width: 100px;
	overflow: hidden;
	display: inline-block;
}

.banner-poster img
{
	height: 100%;
	-webkit-filter: blur(0px);
}

.href-row
{
	cursor: pointer;
}

.tooltip-inner {	/*tooltip size*/
    min-width: 100px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#welcome-container
{
	margin-top:15vh;
}

#welcome-container #welcome-logo
{
	width:150px;
	height:150px;
	background-size: 100% 100%;
	border-radius: 100%;
	margin: auto;
}

.tgf-progress-bar{
	background-color:#2c3e50;
	border-radius: 5px;
	min-height: 30px;
	position: relative;
	overflow: hidden;
	margin-top:100px;
}

.tgf-progress-bar .tgf-bar{
	background-color:#1ABC9C;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 5px;
	transition-duration:1s;
}

.tgf-progress-bar p{
	position: absolute;
	width: 100%;
	text-align: center;
	color:#ffffff;
	font-size: 20px;
}