#welcome-container,#about-container{
	height: calc(100vh - 65px);
	padding-top: 20vh;
}

.tgf-hidden{
	opacity: 0;
}

#adcopy-outer{
	width: 100%!important;
}

.collection-item .circle .mdi{
	font-size:24px;
	padding: 8px;
}

.sidebar-player{
	width:100%;
	max-height:250px;
}

.sidebar{
	margin:0.5rem 0 1rem 0;
}