<div class="container-fluid file">

	<div class="file-loading" ng-show="retreivingInfos">
		<img src="img/spinner.svg" />
		<h2>{{ 'file.retreivingInfos' | translate }}</h2>
		<h3>{{ 'file.retreivingInfosSub' | translate }}</h3>
	</div>


	<div class="panel col-md-3 files-list">
	  <div class="panel-body">
			<div class="row">
			  <div ng-repeat="f in exportFiles track by $index" class="btn col-md-12 col-sm-12 file-btn file-{{$index}}" ng-click="setCurrentFile($index);" ng-class="{'current': $index == currentFileIndex,'converting' : f.converting,'processing':f.processing,'error':f.error,'playing' :  playingFileIndex === $index}">
					<div class="file-cover">
						<img ng-src="{{f.pictureUri}}" />
						<div class="control-btn" ng-click="$event.stopPropagation(); togglePlayer($index)">
							<i class="mdi mdi-play" ng-hide="playerStatus == 'play' && playingFileIndex === $index"></i>
							<i class="mdi mdi-pause" ng-show="playerStatus == 'play'  && playingFileIndex === $index"></i>
						</div>
					</div>

					{{f.fulltitle}}<span class="format-label">.mp3</span>
					<i class="remove-file-btn mdi mdi-close" ng-click="removeFileFromList(f)"></i>

					<span class="file-progress" style="width:{{f.progress}}%"></span>
				</div>
				<div class="btn add-file-btn col-md-12 col-sm-12" ng-click="showAddFileModal()" ng-class="{'add-file-btn-anim' : !fileAvailable}">
					<i class="mdi mdi-cloud-upload"></i> {{ 'file.addFileButtonLabel' | translate }}
				</div>
			</div>
	  </div>
	</div>

	<div class="col-md-6 file-tags" ng-class="{'loading': !fileAvailable}">

		<table class="table">
				<tr>
					 <td class="input-group" tooltip-append-to-body="true" uib-tooltip="{{ 'file.inputChain' | translate }}">
						 <span class="input-group-addon"><i class="mdi mdi-file-document"></i></span>
							<input type="text" class="form-control" disabled="disabled" ng-value="exportFiles[currentFileIndex].fulltitle">
					 </td>
				</tr>
				<tr>
					 <td class="input-group">
						 	<span class="input-group-addon"><i class="mdi mdi-code-braces"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('tagPattern',currentFileIndex)" ng-model="exportFiles[currentFileIndex].tagPattern" ng-change="genPattern(currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.pattern' | translate }}">
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('tagPattern',currentFileIndex,true)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyPatternToAll' | translate }}"><i class="mdi mdi-auto-fix"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('tagPattern',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>
				<!--<tr>
					 <td class="input-group">
						 	<span class="input-group-addon"><i class="mdi mdi-file-xml"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('fileNamePattern',currentFileIndex)" ng-model="exportFiles[currentFileIndex].fileNamePattern" ng-change="genPattern(currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.fileNamePattern' | translate }}">
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('fileNamePattern',currentFileIndex,true)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyPatternToAll' | translate }}"><i class="mdi mdi-auto-fix"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('fileNamePattern',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>-->
				<tr>
					 <td class="input-group">
							<span class="input-group-addon"><i class="mdi mdi-file-music"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('title',currentFileIndex)" ng-model="exportFiles[currentFileIndex].title"  tooltip-append-to-body="true" uib-tooltip="{{ 'file.title' | translate }}">
							<span class="input-group-addon btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!canEditTags || propIsLocked('album',currentFileIndex) || exportFiles[currentFileIndex].suggestions.albums.length == 0" tooltip-append-to-body="true" uib-tooltip="{{ 'file.showSuggestedTags' | translate }}"><i class="mdi mdi-message-bulleted"></i></span>
						 	<ul class="dropdown-menu pull-right" ng-hide="!canEditTags || propIsLocked('title',currentFileIndex) || exportFiles[currentFileIndex].suggestions.titles.length == 0">
								 <li ng-repeat="title in exportFiles[currentFileIndex].suggestions.titles">
									 <a href="#" ng-click="exportFiles[currentFileIndex].title = title">{{title}}</a>
								 </li>
						 	</ul>
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('title',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}"><i class="mdi mdi-assistant"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('title',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>
				<tr>
					 <td class="input-group">
							<span class="input-group-addon"><i class="mdi mdi-account"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('artist',currentFileIndex)" ng-model="exportFiles[currentFileIndex].artist" tooltip-append-to-body="true" uib-tooltip="{{ 'file.artist' | translate }}">
							<span class="input-group-addon btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!canEditTags || propIsLocked('artist',currentFileIndex) || exportFiles[currentFileIndex].suggestions.artists.length == 0" tooltip-append-to-body="true" uib-tooltip="{{ 'file.showSuggestedTags' | translate }}"><i class="mdi mdi-message-bulleted"></i></span>
						 	<ul class="dropdown-menu pull-right" ng-hide="!canEditTags || propIsLocked('artist',currentFileIndex) || exportFiles[currentFileIndex].suggestions.artists.length == 0">
								 <li ng-repeat="artist in exportFiles[currentFileIndex].suggestions.artists">
									 <a href="#" ng-click="exportFiles[currentFileIndex].artist = artist">{{artist}}</a>
								 </li>
						 	</ul>

							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('artist',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}"><i class="mdi mdi-assistant"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('artist',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>
				<tr>
					 <td class="input-group">
							<span class="input-group-addon"><i class="mdi mdi-album"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('album',currentFileIndex)" ng-model="exportFiles[currentFileIndex].album"   tooltip-append-to-body="true" uib-tooltip="{{ 'file.album' | translate }}">
							<span class="input-group-addon btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!canEditTags || propIsLocked('album',currentFileIndex) || exportFiles[currentFileIndex].suggestions.albums.length == 0" tooltip-append-to-body="true" uib-tooltip="{{ 'file.showSuggestedTags' | translate }}"><i class="mdi mdi-message-bulleted"></i></span>
						 	<ul class="dropdown-menu pull-right" ng-hide="!canEditTags || propIsLocked('album',currentFileIndex) || exportFiles[currentFileIndex].suggestions.albums.length == 0">
								 <li ng-repeat="album in exportFiles[currentFileIndex].suggestions.albums">
									 <a href="#" ng-click="exportFiles[currentFileIndex].album = album">{{album}}</a>
								 </li>
						 	</ul>
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('album',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}"><i class="mdi mdi-assistant"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('album',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>
				<tr>
					 <td class="input-group" >
						 	<span class="input-group-addon"><i class="mdi mdi-calendar-text"></i></span>
							<input type="text" class="form-control" ng-disabled="!canEditTags || propIsLocked('year',currentFileIndex)" ng-model="exportFiles[currentFileIndex].year" tooltip-append-to-body="true" uib-tooltip="{{ 'file.year' | translate }}">
							<span class="input-group-addon btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!canEditTags || propIsLocked('year',currentFileIndex) || exportFiles[currentFileIndex].suggestions.years.length == 0" tooltip-append-to-body="true" uib-tooltip="{{ 'file.showSuggestedTags' | translate }}"><i class="mdi mdi-message-bulleted"></i></span>
						 	<ul class="dropdown-menu pull-right" ng-hide="!canEditTags || propIsLocked('year',currentFileIndex) || exportFiles[currentFileIndex].suggestions.years.length == 0">
								 <li ng-repeat="year in exportFiles[currentFileIndex].suggestions.years">
									 <a href="#" ng-click="exportFiles[currentFileIndex].year = year">{{year}}</a>
								 </li>
						 	</ul>
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('year',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}"><i class="mdi mdi-assistant"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('year',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>
				<!--<tr>
					 <td class="input-group" >
						 	<span class="input-group-addon btn btn-default" ng-click="openDir(exportFiles[currentFileIndex].uri,true)"><i class="mdi mdi-folder"></i></span>
							<input type="text" class="form-control" ng-click="setExportPath(currentFileIndex)" ng-model="exportFiles[currentFileIndex].exportPath" tooltip-append-to-body="true" uib-tooltip="{{ 'file.exportPath' | translate }}">
							<span class="input-group-addon btn btn-primary" ng-hide="singleFile" ng-click="overrideProp('exportPath',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}"><i class="mdi mdi-assistant"></i></span>
							<span class="input-group-addon btn btn-danger" ng-hide="singleFile" ng-click="togglePropLock('exportPath',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.lockProp' | translate }}"><i class="mdi mdi-lock"></i></span>
					 </td>
				</tr>-->
		 </table>

		 <div class="container" ng-if="exportFiles[currentFileIndex].suggestions.covers">
			 <p>
			 	Suggested covers
			</p>
			<div class="row col-md-6">
				<!-- current original cover -->
				<div class="col-md-3" ng-click="setCover(exportFIles[currentFileIndex].originalPictureUri, cover);">
					<img ng-src="{{exportFiles[currentFileIndex].originalPictureUri}}" alt="Cover" class="img-responsive" />
				</div>
				<!-- -->
				<div class="col-md-3" ng-repeat="cover in exportFiles[currentFileIndex].suggestions.covers" ng-click="setCover(currentFileIndex, cover);">
					<img ng-src="{{cover}}" alt="Cover" class="img-responsive" />
				</div>
			</div>
		 </div>

	</div>


	<div class="panel col-md-3 info">

		<div class="col-md-12 file-cover" style="height:{{getDynamicHeight('file-cover')}}px" ng-show="fileAvailable">
			<img ng-src="{{exportFiles[currentFileIndex].pictureUri}}" />
			<div class="cover-info">
				<h1>{{exportFiles[currentFileIndex].title}}</h1>
				<h2>{{exportFiles[currentFileIndex].artist}}</h2>
			</div>

			<div class="set-cover-btn" ng-click="setCoverImage(currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.cover' | translate }}" tooltip-placement="bottom">
				<i class="mdi mdi-image"></i>
			</div>

			<div class="set-cover-all-btn" ng-hide="singleFile" ng-click="overrideProp('pictureUri',currentFileIndex)" tooltip-append-to-body="true" uib-tooltip="{{ 'file.applyTagToAll' | translate }}">
				<i class="mdi mdi-assistant"></i>
			</div>

		</div>

		<!-- Dl button -->
		<button class="btn btn-primary btn-lg col-md-12" ng-disabled="!canStartProcess" ng-show="fileAvailable" ng-click="requestProcess()" ng-class="{'processing' : processing,'disabled' : !canStartProcess}"><i class="mdi mdi-flash"></i> {{ 'file.process' | translate }}</button>
	</div>

	<!-- audio player -->
	<div ng-include="'views/player.html'"></div>

</div>
