<div class="player container" ng-show="playingFileIndex !== null">
  <div class="col-md-3 text-left">
    <div class="player-cover pull-right">
      <img ng-src="{{exportFiles[playingFileIndex].pictureUri}}" />
      <div class="player-btn" ng-click="togglePlayer(playingFileIndex)">
        <i class="mdi mdi-play" ng-hide="playerStatus == 'play'"></i>
        <i class="mdi mdi-pause" ng-show="playerStatus == 'play'"></i>
      </div>
    </div>
    <div class="player-info">
      <h1>{{exportFiles[playingFileIndex].title}}</h1>
      <h2>{{exportFiles[playingFileIndex].artist}}</h2>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <input type="range" class="player-progress" ng-model="filePlayer.currentTime" max="{{filePlayer.duration}}" />
  </div>
  <div class="col-md-3 text-left ">
    <div class="volume-trigger">
      <input type="range" class="volume-range" ng-model="filePlayer.volume" max=1 step="0.00001"/>
      <div class="player-btn volume-btn" ng-click="togglePlayerMute()">
        <i class="mdi mdi-volume-high" ng-if="!filePlayer.muted"></i>
        <i class="mdi mdi-volume-off" ng-if="filePlayer.muted"></i>
      </div>

    </div>

    <div class="player-btn repeat-btn" ng-click="togglePlayerRepeat()" ng-class="{'repeat':filePlayer.loop === true}">
      <i class="mdi mdi-repeat-once"></i>
    </div>
  </div>

</div>
