$green: #00897B;	/* 0 137 123 */
$blue: #528BFF;
$darkgrey : #181A1F;

body{
	background-color: #282C34;
	color:#9DA5AC;
}

footer{
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #21252B;
	ul{
		list-style-type: none;
		margin:0;
		padding:0;
		li{
			padding: 10px;
			display: inline-block;
			font-size: 10px;
		}
	}
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $green;
	border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

h1{
	color:#ffffff;
}

h2,h3,h4,h5,p{
	color:#cccccc;
}

/* table border*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 1px $darkgrey solid;
}

.form-control,.form-control:focus{
	background-color: #21252B;
	border:0;
	color:#9DA5AC;
	box-shadow: 0px 0px 0px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: darken($darkgrey, 5%);
	color:darken(#9DA5AC, 10%);
		opacity: 0.5;
}

.btn{
	border-radius: 3px;
	background-color: $darkgrey;
	color:#ffffff;
	border:1px #212121 solid;
}

.btn:hover{
	text-decoration: none;
}

.btn:hover{
	background-color: #282C34;
	color:#ffffff;
	border:1px $darkgrey solid;
}

.btn.current{
	background-color: #282C34;
	color:#ffffff;
	border:1px $darkgrey solid;
}

.btn-primary{
	background-color: $green;
	border:1px $darkgrey solid;
}

.btn-primary:hover{
	background-color: $darkgrey;
	border:1px $darkgrey solid;
}

.progress{
	background-color:$darkgrey;
	.progress-bar{
		background-color:$green;
	}
}

.panel{
	background-color:#21252B;
}

.list-group-item{
	margin-top: 10px;
	background-color: #333842;
	border: 1px $darkgrey solid;
	border-radius: 5px;
}

a.list-group-item, button.list-group-item{
	color:#cccccc;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
	background-color: #333842;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
	color:#cccccc;
	outline:0;
}


/* columns positioning */

.file-loading{
	position: absolute;
	top: 20vh;
	z-index: 3;
	width: 100%;
	left: 0;
	text-align: center;
	img{
		display: block;
		margin: auto;
		width: 75px;
	}
}

.file{
	padding-left: 0;
	padding-right: 0;

	.final-dl-button{
		padding:15px;
	}
	.file-tags.loading{
		opacity: 0.2;
	}

	.file-cover{
		margin-top:10px;
		position: relative;
		height: 200px;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.cover-info{
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			padding-top: 50px;
			background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
			overflow:hidden;
    	text-overflow:ellipsis;
			h1{
				font-size: 2rem;
				padding: 0;
				margin: 0;
				padding-bottom:5px;
			}
			h2{
				font-size: 1.8rem;
				padding-bottom: 0;
				margin: 0;
			}
		}

		.set-cover-btn{
			opacity: 0;
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 16;
			background-color: rgba(0,0,0,0.5);
			text-align: center;
			transition-duration: 0.5s;
			cursor: pointer;
			i{
				color:#ffffff;
				font-size: 50px;
			}
		}
	}

	.file-cover:hover{
		.set-cover-btn{
			opacity: 1.0;
		}
	}
}
.info,.files-list{
	height: calc(100vh);
	margin-bottom: 0;
}

.files-list{
	overflow-y: scroll;
	.file-btn{
		cursor: default;
		position: relative;
		border-left-width: 2px;
		text-align: left;
		overflow: hidden;
		.format-label{
			color:#9DA5AC;
		}
		.file-progress{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: $green;
			transition-duration: 0.5s;
		}
		.remove-file-btn{
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			padding: 2px;
			background-color: rgba(0,0,0,0.8);
			border: 1px #212121 solid;
			border-radius: 3px;
			opacity: 0;
			transition-duration:0.3s;
		}

		.file-cover{
			position: relative;
			float: left;
			width: 24px;
			height:24px;
			margin:0;
			margin-right: 5px;
			img{
				width: 100%;
				height:100%;
			}
			.control-btn{
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height:100%;
				background-color: rgba(0,0,0,0.5);
				text-align: center;
				opacity: 0;
				transition-duration:0.3s;
			}
		}
	}

	.file-btn:hover{
		.remove-file-btn{
			opacity: 1.0;
		}
		.file-cover{
			.control-btn{
				opacity: 1.0;
			}
		}
		.file-cover:hover{
			.control-btn{
				background-color: rgba(0,137,123,0.8);
			}
		}
	}

	.file-btn.playing{
		.file-cover{
			.control-btn{
				opacity: 1.0;
				background-color: rgba(0,137,123,0.8);
			}
		}
	}

	.add-file-btn{
		margin-top: 10px;
		color:#cccccc;
	}
	.file-btn:hover,.file-btn.current{
		border-left-color: $blue;
	}
	.file-btn.tag-updated{				//animation when a tag is updated
		animation-name: tag-updated-anim;
    animation-duration: 0.5s;
	}
	.file-btn.tag-locked{				//animation when a tag wasnt updated due to a lock
		animation-name: tag-locked-anim;
    animation-duration: 0.5s;
	}
	.file-btn.processing{		// animation when the tag is under processing
		opacity: 1.0;
		animation-name: processingFlash;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	.file-btn.converting{		// animation when the tag is under processing
		opacity: 1.0;
		background: repeating-linear-gradient(
			-45deg,
			#282C34,
			#282C34 5px,
			#212121 5px,
			#212121 10px
		);
		animation: processingBackground 10s linear infinite;
	}
	.file-btn.error{		//When the file failed the process
		border-left-color:#B9121B;
		background-color: rgba(185,18,27,0.1);
	}
	.file-btn.playing{		//When the file is playing with the audio player
		border-left-color:$green;
	}
}

.player{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	padding: 5px;
	width: 100%;
	background-color: $darkgrey;
	border-top: 1px #222222 solid;
	.player-btn{
		display: inline-block;
		i{
			font-size: 18px;
		}
	}
	.player-cover{
		float: left;
		margin-right:10px;
		width: 40px;
		height:40px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.player-info{
		display: inline-block;
		h1,h2{
			font-size: 14px;
			margin: 0;
			padding: 0;
		}
		h1{
			color:#ffffff;
		}
	}

	.volume-btn{
		i{
			font-size: 24px;
			padding: 6px;
		}
	}

	/* ------------- */
	/*player slider */
	/* ------------*/

	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
		display: inline-block;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 12.8px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #ac51b5;
	  border-radius: 25px;
	  border: 0px solid #000101;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 0px solid #000000;
	  height: 10px;
	  width: 5px;
	  border-radius: 2px;
	  background: $green;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -3.6px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #ac51b5;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 12.8px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #ac51b5;
	  border-radius: 25px;
	  border: 0px solid #000101;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 0px solid #000000;
	  height: 20px;
	  width: 39px;
	  border-radius: 7px;
	  background: $green;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 12.8px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  border-width: 39px 0;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #ac51b5;
	  border: 0px solid #000101;
	  border-radius: 50px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: #ac51b5;
	  border: 0px solid #000101;
	  border-radius: 50px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 0px solid #000000;
	  height: 20px;
	  width: 39px;
	  border-radius: 7px;
	  background: $green;
	  cursor: pointer;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #ac51b5;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #ac51b5;
	}

}

@keyframes processingBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

@keyframes processingFlash {
    0% { border-left-color: $green; }
		50% { border-left-color: #00B5A3; }
    100% { border-left-color: $green; }
}

@keyframes tag-updated-anim {
    from {border-left-color: $green;}
    to {border-left-color: #212121;}
}

@keyframes tag-locked-anim {
    from {border-left-color: #D19A66;}
    to {border-left-color: #212121;}
}

.processing{
		opacity : 0.5;
		cursor: not-allowed;
}

.btn-primary.processing{

	background-color: $green;
	background: repeating-linear-gradient(
		-45deg,
		$green,
		$green 5px,
		#0C6B62 5px,
		#0C6B62 10px
	);
	animation: processingBackground 10s linear infinite;
}

#welcome-container,#about-container{
	height: calc(100vh - 65px);
	padding-top: 20vh;
}

.tgf-hidden{
	opacity: 0;
}

#adcopy-outer{
	width: 100%!important;
}


#preloader{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#282C34;
	z-index: 5;
	text-align: center;
}

#preloader img{
	margin-top:40vh;
	width: 20vw;
	height:20vw;
	max-width: 100px;
	max-height: 100px;
	border-radius: 100%;
}

.modal-content{
	background-color: #222222;
}

.modal-header{
	border-bottom-color: $darkgrey;
}

.modal-footer{
	border-top-color: $darkgrey;
}

.input-group-addon{
	background-color: #222222;
	border: 1px $darkgrey solid;
	color:#9DA5AC;
	font-size: 20px;
}

.page-footer{
	text-align: left;
	border-top:1px $darkgrey solid;
	padding-top: 10px;
	img{
		margin: 10px;
	}
}

/*
//					SPLASH SCREEN
*/

#splash{
	background-color: $darkgrey;
	color:#9DA5AC;
	text-align: center;

	.logo{
		margin:auto;
		margin-top: 75px;
		width: 100px;
		height:100px;
		border-radius: 100px;
		animation-name: splashLogoAnim;
    animation-duration: 1.3s;
		animation-iteration-count: infinite;
	}

	#splash-text{
		text-align: center;
		font-family: Arial;
		position: fixed;
		bottom: 20px;
		left: 0px;
		width: 100%;
		font-size: 20px;
	}

	#splash-version{
		text-align: right;
		font-family: Arial;
		position: fixed;
		top: 0px;
		right: 0px;
		padding: 5px;
		margin:0px;
		font-size: 10px;
		opacity: 0.5;
	}
}

@keyframes splashLogoAnim {
    100% {
			transform: rotateZ(360deg);
		}
}
