<!--<youtube-video video-id="$parent.exportFile.id" class="sidebar-player hide-on-med-and-down"></youtube-video>-->
<div class="file">
	<header class="row">
		<img class="bg" ng-src="{{exportFile.image}}">
		<div class="bg-filter"></div>
		<div class="album-cover" style="background-image:url({{exportFile.image}})"></div>
		<h1>{{exportFile.title}}</h1>
		<h2>{{exportFile.artist}}</h2>
	</header>

	<form  class="row container" ng-submit="$parent.requestProcess()">
		<div class="col-md-4">
			<table class="table">
		      <tr>
		         <td>
		            {{ 'file.fileName' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.baseStr" ng-change="$parent.genPattern()">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.pattern' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.userPattern" ng-change="$parent.genPattern()">
		         </td>
		      </tr>
		     </table>
		</div>
		<div class="col-md-8">
			<table class="table">
		      <tr>
		         <td>
		            {{ 'file.fileName' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.baseStr" ng-change="$parent.genPattern()">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.pattern' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.userPattern" ng-change="$parent.genPattern()">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.title' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.exportFile.title">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.artist' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.exportFile.artist">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.album' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.exportFile.album">
		         </td>
		      </tr>
		      <tr>
		         <td>
		            {{ 'file.year' | translate }}
		         </td>
		         <td>
		            <input type="text" class="form-control" ng-disabled="!$parent.canEditTags" ng-model="$parent.exportFile.year">
		         </td>
		      </tr>
		   </table>
		</div>
	</form>

	
	   <div id="solve-media-container" ng-show="$parent.captchatActive"></div>
	   
	   <button type="submit" ng-hide="$parent.progressStatus == 'ready'" ng-disabled="!$parent.canStartProcess" ng-class="{'disabled':!$parent.canStartProcess}" class="col l12 m8 offset-m2 s8 offset-s2 waves-effect waves-light btn large"><i class="mdi mdi-download"></i> {{ 'global.download' | translate }}</button>

	   <a class="btn btn-primary" ng-show="$parent.progressStatus == 'ready'" href="{{$parent.exportFile.url}}?name={{$parent.exportFile.artist}} - {{$parent.exportFile.title}}" ng-click="$parent.tgfDownload();"><i class="mdi mdi-download"></i> {{ 'global.download' | translate }}</a>

	</form>

	<div class="progress col l12 m8 offset-m2 s8 offset-s2" ng-show="processing">
	   <div ng-class="{'indeterminate' : progress == 0,'determinate':progress != 0}" style="width:{{progress}}%;"></div>
	</div>
	<div id="error-msg-container" class="hide red darken-4 center">Error</div>
	<div id="solve-media-container"></div>

	<div id="tags-content">
	   <h1>{{exportFile.title}}</h1>
	   <p>{{exportFile.artist}}</p>
	   <div class="row">
	      <button class="btn btn-sm btn-primary"><i class="mdi mdi-play"></i></button>
	      <button class="btn btn-sm btn-primary">Pattern Button</button>
	   </div>
	   
	</div>
</div>