<footer class="page-footer">
    <div class="row">
        <img src="img/tgf/header-logo.png" style="height:25px;">
    </div>
    <div class="row">
        <a class="btn btn-link" ui-sref="about">{{ 'global.about' | translate }}</a>
        <a class="btn btn-link" href="https://www.facebook.com/Tagifier-1172453299437404" target="_blank">{{ 'global.facebook' | translate }}</a>
    </div>
    <div class="row">
      © 2016 Tagifier
      <br>
      Deployed from <a href="https://github.com/CYRIAQU3/tagifier/commits/master" target="_blank"><i class="mdi mdi-git"></i>{{lastCommit}}</a>
      <br>
      <a href="https://github.com/CYRIAQU3/tagifier/issues" target="_blank">Report an issue</a>
      <br>
      Made by <a href="http://www.cyriaquedelaunay.fr" target="_blank">CYRIAQU3</a>
    </div>
</footer>
