<form ng-submit="miSubmit()" class="container text-center" id="welcome-container"  ng-controller="mainInputCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			<div class="row center-align" id="welcome-content">
		    <img alt="Tagifier" src="img/tgf/icon.png" id="welcome-logo" ng-class="{'animated rotateIn':docReady}" class="img-circle tgf-hidden" style="max-height:130px;">
				<h2>{{ 'index.welcomeMessage' | translate }}</h2>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			 <div class="input-field col-sm-12">
		      	<input id="youtube-url" type="url" class="form-control input-lg" autocomplete="off" placeholder="https://www.youtube.com/watch?v=ihYVZFl-Ck0" ng-change="checkUrl()"  ng-model="currentUrl" ng-class="{'good_url': goodUrl}" autofocus>
		    </div>
		</div>
	</div>
	<br>
	<div class="row" ng-show="goodUrl" ng-class="{'animated bounceIn':goodUrl}">
    	<div class="col-md-6 col-md-offset-3 col-sm-12">
    		<button type="submit" class="btn btn-lg btn-primary"><i class="mdi mdi-download"></i>{{ 'index.welcomeButtonLabel' | translate }}</button>
    	</div>
    </div>
</form>
