$green: #00897B;
$blue: #528BFF;
$darkgrey : #181A1F;

body{
	background-color: #282C34;
	color:#9DA5AC;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #21252B;
	ul{
		list-style-type: none;
		margin:0;
		padding:0;
		li{
			padding: 10px;
			display: inline-block;
			font-size: 10px;
		}
	}
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $green;
	border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

h1{
	color:#ffffff;
}

h2,h3,h4,h5,p{
	color:#cccccc;
}

/* table border*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 1px $darkgrey solid;
}

.form-control,.form-control:focus{
	background-color: #21252B;
	border:0;
	color:#9DA5AC;
	box-shadow: 0px 0px 0px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: $darkgrey;
	color:#9DA5AC;
		opacity: 0.5;
}

.btn{
	border-radius: 3px;
	background-color: $darkgrey;
	color:#ffffff;
	border:1px #212121 solid;
}

.btn:hover{
	text-decoration: none;
}

.btn:hover{
	background-color: #282C34;
	color:#ffffff;
	border:1px $darkgrey solid;
}

.btn.current{
	background-color: #282C34;
	color:#ffffff;
	border:1px $darkgrey solid;
}

.btn-primary{
	background-color: $green;
	border:1px $darkgrey solid;
}

.btn-primary:hover{
	background-color: $darkgrey;
	border:1px $darkgrey solid;
}

.progress{
	background-color:$darkgrey;
	.progress-bar{
		background-color:$green;
	}
}

.panel{
	background-color:#21252B;
}

.list-group-item{
	margin-top: 10px;
	background-color: #333842;
	border: 1px $darkgrey solid;
	border-radius: 5px;
}

a.list-group-item, button.list-group-item{
	color:#cccccc;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
	background-color: #333842;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
	color:#cccccc;
	outline:0;
}


/* columns positioning */

.file-loading{
	position: absolute;
	top: 20vh;
	z-index: 3;
	width: 100%;
	left: 0;
	text-align: center;
	img{
		display: block;
		margin: auto;
		width: 75px;
	}
}

.file{
	padding-left: 0;
	padding-right: 0;

	.final-dl-button{
		padding:15px;
	}
	.file-tags.loading{
		opacity: 0.2;
	}

	.file-cover{
		margin-top:10px;
		position: relative;
		background-size: cover;
		background-position: center;
		height: 100px;
		.control{
			position: absolute;
			z-index: 5;
			bottom: 0;
			right: 0;
			i{
				cursor: pointer;
				text-align: center;
				background-color: $green;
				border-radius: 100px;
				border: 2px #00665C solid;
				color: #cccccc;
				vertical-align: middle;
				margin:2rem;
				font-size: 5rem;
				transition-duration:0.3s;
			}
		}

		.control i:hover{
			transform: scale(1.1);
			color:#ffffff;
		}

		.cover-info{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			padding-top: 50px;
			background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
			overflow:hidden;
    	text-overflow:ellipsis;
			h1{
				font-size: 2rem;
				padding: 0;
				margin: 0;
				padding-bottom:5px;
			}
			h2{
				font-size: 1.8rem;
				padding-bottom: 0;
				margin: 0;
			}
		}
	}
}
.info,.files-list{
	height: calc(100vh - 50px);
	margin-bottom: 0;
}

.files-list{
	overflow-y: scroll;
	.file-btn{
		position: relative;
		border-left-width: 2px;
		text-align: left;
		overflow: hidden;
		.format-label{
			color:#9DA5AC;
		}
		.file-progress{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: $green;
			transition-duration: 0.5s;
		}
		.remove-file-btn{
			position: absolute;
			right: 0;
			top: 0;
			padding: 2px;
			background-color: rgba(0,0,0,0.8);
			border: 1px #212121 solid;
			border-radius: 3px;
			opacity: 0;
			transition-duration:0.3s;
		}
	}

	.file-btn:hover{
		.remove-file-btn{
			opacity: 1.0;
		}
	}

	.add-file-btn{
		margin-top: 10px;
		color:#cccccc;
	}
	.file-btn:hover,.file-btn.current{
		border-left-color: $blue;
	}
	.file-btn.tag-updated{				//animation when a tag is updated
		animation-name: tag-updated-anim;
    animation-duration: 0.5s;
	}
	.file-btn.tag-locked{				//animation when a tag wasnt updated due to a lock
		animation-name: tag-locked-anim;
    animation-duration: 0.5s;
	}
	.file-btn.processing{		// animation when the tag is under processing
		opacity: 1.0;
		animation-name: processingFlash;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	.file-btn.converting{		// animation when the tag is under processing
		opacity: 1.0;
		background: repeating-linear-gradient(
			-45deg,
			#282C34,
			#282C34 5px,
			#212121 5px,
			#212121 10px
		);
		animation: processingBackground 10s linear infinite;
	}
	.file-btn.error{		//When the file failed the process
		border-left-color:#B9121B;
		cursor: not-allowed;
		background-color: rgba(185,18,27,0.1);
	}
}

@keyframes processingBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

@keyframes processingFlash {
    0% { border-left-color: $green; }
		50% { border-left-color: #00B5A3; }
    100% { border-left-color: $green; }
}

@keyframes tag-updated-anim {
    from {border-left-color: $green;}
    to {border-left-color: #212121;}
}

@keyframes tag-locked-anim {
    from {border-left-color: #D19A66;}
    to {border-left-color: #212121;}
}

.processing{
		opacity : 0.5;
		cursor: not-allowed;
}

.btn-primary.processing{

	background-color: $green;
	background: repeating-linear-gradient(
		-45deg,
		$green,
		$green 5px,
		#0C6B62 5px,
		#0C6B62 10px
	);
	animation: processingBackground 10s linear infinite;
}

#welcome-container,#about-container{
	height: calc(100vh - 65px);
	padding-top: 20vh;
}

.tgf-hidden{
	opacity: 0;
}

#adcopy-outer{
	width: 100%!important;
}


#preloader{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#282C34;
	z-index: 5;
	text-align: center;
}

#preloader img{
	margin-top:40vh;
	width: 20vw;
	height:20vw;
	max-width: 100px;
	max-height: 100px;
	border-radius: 100%;
}

.modal-content{
	background-color: #222222;
}

.modal-header{
	border-bottom-color: $darkgrey;
}

.modal-footer{
	border-top-color: $darkgrey;
}

.input-group-addon{
	background-color: #222222;
	border: 1px $darkgrey solid;;
	color:#9DA5AC;
	font-size: 20px;
}

.page-footer{
	text-align: left;
	border-top:1px $darkgrey solid;
	padding-top: 10px;
	img{
		margin: 10px;
	}
}
